@import "../../../../assets/global-style/vars";

.contacts__form-min {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 488px;
  width: 100%;
  margin: 70px 70px 0 0;
  padding: 40px 38px 70px 37px;
  text-align: center;

  background: $white;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 6px;
}

.contacts__link {
    position: relative;
  margin: 85px 0 150px;

&::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    top: -290px;
    z-index: -3;
    height: 1000px;
    background-image: url(../../../../assets/img/content/aboutUs-pages/AboutUsContacts-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 185px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
