@import "../../assets/global-style/vars";

.pages {
  display: flex;
  justify-content: space-between;
  height: 440px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 550px;
    margin-top: 45px;

    & span {
      background-image: url(../../assets/img/content/services-pages/Vector.png);
      padding: 10px 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__img {
    margin-top: 40px;
  }

  &__content{
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 60px;
    margin-bottom: 125px;

    & span{
      @extend .body2
    }
  }
}

.body.color,
.header1.color {
  color: $barkBlue;
}
