@import "../../assets/global-style/vars";

.card{
    position: relative;
    display: flex !important;
    justify-content: center;
    &__img{
        object-fit: cover;
    }
    &__information{
        position: absolute;
        top: 90px;
        left: 0;
        width: 550px;
        margin: 147px 126px !important;
    }
    &__paragraph.body{
        color: $white;
        margin: 16px 0 40px;
    }
    &__btn-wrapper{
        display: flex;
        gap: 24px;
    }
}
