@import "../../assets/global-style/vars";

.card{
    position: relative;

    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__information{
        position: absolute;
        top: 90px;
        width: 735px;
        margin-top: 147px;
    }
    &__paragraph.body{
        color: $white;
        margin: 16px 0 40px;
    }
    &__btn-wrapper{
        display: flex;
        gap: 24px;
    }
}
