@import "../../assets/global-style/vars";

.partner {
  background-image: url(../../assets/img/content/partner-bg.png);
height: 585px;
background-repeat: no-repeat;
background-position: center;
margin-bottom: 125px;
  &__title {
    text-align: center;
    padding-top: 165px;
  }
  &__paragraph {
    padding: 16px 0 36px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: $white;
  }
  &__btn-wrapepr{
    display: flex;
    justify-content: center;
  }
  &__btn.button-green {
    display: inline-block;
    background: $white;
    border: 2px solid $darkGreen;
    border-radius: 6px;
    color: $darkGreen;
  }
}
