@import "../../assets/global-style/vars";

.footer {


  display: flex;
  flex-direction: column;
  justify-content: end;

  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 48px auto !important;
  }

  &__list {
    padding-top: 18px;
    &-margin {
      padding-top: 112px;
      background-image: url(../../assets/img/footer-blue-bg.png);
      background-repeat: no-repeat;
      background-position: bottom;
    }
    &-item-social {
      padding-top: 64px;

      display: grid;
      grid-template-columns: repeat(3, 40px);
      grid-gap: 45px;
    }
    &-item {
      padding: 29px 0 0 20px;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    &-title {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-top: 18px;
    }
  }
  &-title {
    font-family: "Harabara";
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  &-paragraph {
    font-family: "Montserrat";
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
  
    color: #ffffff;
    transition: 0.07s ease;
    &:hover{
        border-bottom: 2px solid $white;
    }
  }
}

.copyright {
  background-color: $white;
  padding: 20px 0;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-padding {
    display: flex;
    gap: 142px;
    padding-right: 40px;
  }
  &-paragraph {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
  
    color: #4c4c4c;
  }
  
}